#banner
  .banner_content
  %h1 File Cabinet
  %p Your life's work. Organized, always.
  %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout_inner  
        %h2 Organize
        %p Four “curators” — Bachmann, Catmull, Legrand, and Trevayne — travel to lands peregrine and outré to fill their Cabinet of Curiosities museum, sending back grotesqueries and objects of wonder as well as the tales behind them — tales that often bend to the tenebrous and unearthly. The table of contents lists the Cabinet’s “rooms” and “drawers,” each with a theme (cake, luck, tricks, flowers) and four or five tales to explore. In “The Cake Made Out of Teeth” (“collected by” Legrand) a spoiled-rotten boy must finish an entire cake made in his image, despite the sensation of teeth chewing him up with every bite. 

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path 
